@model TMS.Models.ViewModels.TenantDetails

@{
    ViewBag.Title = "View Tenant";
}


<div id="tenants" class="row">

    <h2>Tenant <span># @Model.Tenant.TenantId</span></h2>
    <div class="col-md-6">
        
        <div class="row">
            <div class="col-md-6">
                <strong>Name</strong>
                <p>@Model.Tenant.TenantName</p>
            </div>
            <div class="col-md-6">
                <strong>Phone</strong>
                <p>@Model.Tenant.TenantPhone</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Email</strong>
                <p>@Model.Tenant.TenantEmail</p>
            </div>
            <div class="col-md-6">
                <strong>Emergency Contact</strong>
                <p>@Model.Tenant.TenantEmergencyContact</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Joined</strong>
                <p>@Model.Tenant.TenantJoined.ToString("yyyy-MM-dd")</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">

                <a href="/tenant/edit/@Model.Tenant.TenantId" class="btn bg-purple">Edit</a>
            </div>
            <div class="col-md-6">
                <a href="/tenant/deleteconfirm/@Model.Tenant.TenantId" class="btn btn-danger">Delete</a>
            </div>

        </div>
    </div>


    <div class="col-md-6 left-border-line">
        <h3>Lease(s) @Model.Leases.Count()</h3>
        @if (@Model.Leases.Count() > 0)
        {
            <table class="table-responsive" width="100%">
                <thead>
                    <tr>
                        <th>Floor</th>
                        <th>Room</th>
                        <th>Property</th>
                        <th>Address</th>
                        <th>Lease Ends</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var lease in Model.Leases)
                    {
                        string view_property_url = "/property/view/" + lease.PropertyId;
                        string delete_url = "/tenant/deletelease/" + lease.LeaseId +"?TenantId=" + lease.TenantId;
                        <tr>
                            <td>@lease.Floor</td>
                            <td>@lease.Room</td>
                            <td><a href="@view_property_url">@lease.PropertyName</a></td>
                            <td>@lease.PropertyAddress</td>
                            <td>@lease.LeaseEndDate.ToString("yyyy-MM-dd")</td>
                            <td><a href="@delete_url" class="text-danger"><i class="fa-solid fa-x"></i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    <div>
        <a class="btn btn-primary" href="/tenant/newlease/@Model.Tenant.TenantId">Add Lease</a>
    </div>

    </div>
</div>