@model TMS.Models.ViewModels.PropertyDetails


@{
    ViewBag.Title = "Edit Property";
}


<div id="tenants" class="row">

    <div class="col-md-5 col-md-offset-3 form-bg">
        <h2>Edit</h2>
        <form class="form form-horizontal" action="/property/Update/@Model.Property.PropertyId" method="post">
            <input class="form-control" id="LandlordId" name="LandlordId" type="hidden" value="1" />
            <input class="form-control" id="id" name="PropertyId" type="hidden" value="@Model.Property.PropertyId" placeholder="Name" />

            <div class="form-group">
                <label id="LandlordId">Landlord</label>
                <select id="LandlordId" name="LandlordId" class="form-control">
                    @foreach (var landlord in Model.ListLandlordData)
                    {
                        <option value="@landlord.LandlordId">@landlord.LandlordName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label id="name">Name</label>
                <input class="form-control" id="name" name="PropertyName" type="text" value="@Model.Property.PropertyName" placeholder="Name" />
            </div>
            <div class="form-group">
                <label id="floors">Floors</label>
                <input class="form-control" id="floors" name="PropertyFloors" type="number" value="@Model.Property.PropertyFloors" placeholder="20" />
            </div>

            <div class="form-group">
                <label id="constructed">Constructed</label>
                <input class="form-control" name="PropertyConstructed" id="constructed" type="date" value="@Model.Property.PropertyConstructed.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <label id="address">Address</label>
                <textarea class="form-control" name="PropertyAddress" id="address">@Model.Property.PropertyAddress</textarea>
            </div>
            <div class="pull-right">
                <button class="btn bg-purple" type="submit">Update</button>
            </div>
        </form>

    </div>
</div>